{% extends "apps_manager/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block head %}
	<title>Sign In</title>
{% endblock head %}
{% block content %}
	<div class="padding">
		<h1>USER</h1>
        <form id="login_form" method="post" action="/user/login-to-page">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />
            <button type="submit">Log in</button>
        </form>
	</div>
{% endblock content %}